<div class="row justify-content-end">
  <!-- Years with multiple winners -->
  <div class="table-container col-md-5 m-4">
    <app-years-multiple-winners
      [yearsMultipleWinners]="yearsMultipleWinners$ | async"
    ></app-years-multiple-winners>
  </div>

  <!-- Top 3 studios with winners -->
  <div class="table-container col-md-5 m-4">
    <app-studios-winners
      [studioWinners]="studioWinners$ | async"
    ></app-studios-winners>
  </div>

  <!-- Producers with longest and shortest interval between wins -->
  <div class="table-container col-md-5 m-4">
    <app-producers-longest-shortest-interval
      [producersMin]="producersMin$ | async"
      [producersMax]="producersMax$ | async"
    ></app-producers-longest-shortest-interval>
  </div>

  <!-- List movie winners by year -->
  <div class="table-container col-md-5 m-4">
    <app-list-movie-winners-by-year></app-list-movie-winners-by-year>
  </div>
</div>
