.table-container {
  background: #fff;
  border-radius: 0.6rem;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.08);
  padding: 1rem;

  h5 {
    font-size: 1rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 300;
  }
}
