<div class="table-container m-4">
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">
          Year<br>
          <input type="search" formControlName="filterByYear" />
        </th>
        <th scope="col">Title</th>
        <th scope="col">
          Winner?<br>
          <input type="search" formControlName="filterByWinner" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>1980</td>
        <td>Can't stop the music</td>
        <td>Yes</td>
      </tr>
    </tbody>
  </table>
</div>
