<div class="table-container m-4">
  <form [formGroup]="filterForm">
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">
            Year<br />
            <input type="number" formControlName="filterByYear" />
          </th>
          <th scope="col">Title</th>
          <th scope="col">
            Winner?<br />
            <select name="cars" id="cars" (change)="submit()">
              <option *ngFor="let item of options">
                {{ item.name }}
             </option>
            </select>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
        *ngFor="
          let post of listMovies
            | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        "
      >
        <th scope="row">{{ post.id }}</th>
        <td>{{ post.year }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.winner ? 'Yes' : 'No' }}</td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      >
      </pagination-controls>
    </div>
  </form>
</div>
